/* header {
  font-family: var(--font-main);
  color: var(--white-font);
  transition: all 0.1s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  backdrop-filter: blur(0.25rem);
  padding: 0rem 0.75rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  min-height: 10vh;
  width: 100%;
}

.header-text-change {
  color: var(--black-font);

  ul li a {
    color: var(--black-font);
  }
}

.header-text-change ul li a:hover {
  color: gray;
}

.left-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-icon {
  height: 50px;
  margin-right: 0.25rem;
}

.logo-icon img {
  height: 100%;
}

.college-name {
  font-weight: 600;
  font-size: 1.1rem;
}

.college-location {
  font-size: 0.85rem;
  font-weight: 500;
}

.nav ul {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  list-style: none;
}

header ul li a {
  display: inline-block;
  color: var(--white-font);
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
}

header ul li a::first-letter {
  text-transform: uppercase;
}

header ul li a:hover {
  transform: scale(0.85);
  color: rgb(202, 202, 202);
} */

/*************************************************/
/*************************************************/

/* MOBILE FIRST */

/*************************************************/
/*************************************************/

header {
  font-family: var(--font-main);
  color: var(--white-font);
  transition: all 0.1s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  backdrop-filter: blur(0.25rem);
  padding: 0rem 0.75rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  min-height: 10vh;
  width: 100%;
}

.header-text-change {
  background-color: white;
  color: black;

  .nav ul li a:hover {
    color: gray;
  }

  .hamburger-menu img {
    filter: invert(1);
  }
}

/* header.header-text-change .hamburger-menu img {
  filter: invert(0);
} */

.left-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-icon {
  height: 50px;
  margin-right: 0.25rem;
}

.logo-icon img {
  height: 100%;
}

.header-location {
  text-wrap: nowrap;
}

.college-name {
  font-weight: 600;
  font-size: 1rem;
}

.college-location {
  font-size: 0.85rem;
  font-weight: 500;
}

.nav ul {
  display: none;
  align-items: center;
  gap: 1.25rem;
  list-style: none;
}

.nav ul li a {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  transition: transform 0.25s ease-in-out, color 0.25s ease-in-out;
}

.nav ul li a:hover {
  color: lightgray;
}

.nav ul li a::first-letter {
  text-transform: uppercase;
}

.nav ul li a.active {
  transform: scale(0.85);
}

.hamburger-menu {
  position: relative;
  height: 35px;
  width: 35px;
}

.hamburger-menu img {
  height: 100%;
  width: 100%;
  filter: invert(0);
  transition: filter 0.3s ease-in-out;
}

.android-menus {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  color: var(--black-font);
  position: absolute;
  padding: 6rem 0;
  top: 0;
  right: 0;
  height: 100vh;
  width: 65%;
  transform: translateX(100%);
  transition: transform 0.35s ease-in-out;
}

.android-menus.visible {
  transform: translateX(0%);
}

.remove-icon {
  position: fixed;
  top: 3%;
  right: 15%;
  transform: rotate(45deg);

  border: 1px solid;
  padding: 0.25rem;
  border-radius: 50%;
}

.android-menus ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50%;
  /* background-color: aqua; */
}

.android-menus ul li a {
  position: relative;
  font-size: 1.25rem;
  font-weight: 500;
}

.android-menus ul li a.active {
  &::before {
    position: absolute;
    content: "";
    height: 10%;
    width: 45%;
    bottom: 0;
    right: 0;
    background-color: red;
  }
}

@media (min-width: 768px) {
  .nav ul {
    display: flex;
    align-items: center;
  }

  .hamburger-menu {
    display: none;
  }
}
@media (min-width: 1024px) {
  header {
  }
}
@media (min-width: 1200px) {
  header {
  }
}
