.hero-section {
  margin-bottom: 1.25rem;
  overflow: hidden;
}

.hero-slide {
  position: relative;
  background-image: url("https://plus.unsplash.com/premium_photo-1661930029003-0404b6e917f6?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8dW5pdmVyc2l0eSUyMGJ1aWxkaW5nfGVufDB8fDB8fHww");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 20%;
  height: 100vh;
  width: 100%;
}

.overlay {
  border-image: linear-gradient(rgba(0, 0, 0, 0.465)) fill 1;
}

.hero-content {
  width: 95%;
  font-family: var(--font-main);
  position: absolute;
  left: 3%;
  bottom: 15%;
}

.hero-content h1 {
  color: var(--white-font);
  font-size: 1.5rem;
  font-weight: bolder;
  margin: 0.25rem 0;
}

.hero-content p {
  color: var(--white-font);
  font-size: 0.9rem;
  margin: 0;
}

.navigate {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  overflow: hidden;
  width: fit-content;
  text-wrap: nowrap;
}

.link {
  padding: 0.75rem 1rem;
  border-radius: 4px;
  color: black;
  background-color: white;
  font-size: 0.9rem;
}

.link:nth-child(2) {
  color: white;
  background-color: black;
}

@media (min-width: 768px) {
  .hero-content {
    width: 80%;
  }

  .hero-content h1 {
    font-size: 2rem;
  }

  .hero-content p {
    font-size: 1rem;
  }

  .navigate {
    margin: 1rem 0;
  }

  .link {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
}

@media (min-width: 1024px) {
  .hero-content {
    width: 60%;
  }

  .hero-content h1 {
    font-size: 2.25rem;
  }

  .hero-content p {
    font-size: 1rem;
  }

  .navigate {
    margin: 1rem 0;
  }

  .link {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
}
