.admission-info-container {
  padding: 0.5rem;
}

.admission-info-container h2 {
  position: relative;
  font-family: var(--font-heading);
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
  width: fit-content;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background-color: red;
    height: 5%;
    width: 75%;
  }
}

.admission-details-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 0.5rem;
}

.admission-details-child {
  position: relative;
  padding: 1.5rem 1rem;
  height: 80vh;
  width: 100%;
  border-radius: 0.5rem;
  font-family: var(--font-heading);
  border: 1px solid lightgray;
  background-color: whitesmoke;
}

.eligibility-criteria,
.admission-process,
.documents-required {
  p {
    margin: 0.75rem 0;

    span {
      margin-right: 0.25rem;
    }
  }
}

@media (min-width: 768px) {
  .admission-details-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1028px) {
  .admission-details-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
