.admission-container {
  position: relative;
  background-image: url("https://plus.unsplash.com/premium_photo-1661930029003-0404b6e917f6?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8dW5pdmVyc2l0eSUyMGJ1aWxkaW5nfGVufDB8fDB8fHww");
  font-family: var(--font-main);
  background-size: cover;
  background-position: 20%;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.overlay {
  border-image: linear-gradient(rgba(0, 0, 0, 0.465)) fill 1;
}

.admission-content {
  width: 95%;
  font-family: var(--font-main);
  position: absolute;
  left: 3%;
  top: 50%;
}

.admission-content h1 {
  color: var(--white-font);
  font-size: 1.5rem;
  font-weight: bolder;
  margin: 0.25rem 0;
}

.admission-content p {
  color: var(--white-font);
}

.eligibility-criteria-container {
  padding: 0.5rem;
}

.eligibility-criteria-container h2 {
  position: relative;
  font-family: var(--font-heading);
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
  width: fit-content;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background-color: red;
    height: 5%;
    width: 75%;
  }
}

.eligibility-criteria {
  background-image: radial-gradient(circle at top center, #333 20%, black 100%);
  color: var(--white-font);
  font-family: var(--font-main);
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
}

.eligibility-criteria ul {
  list-style: disc;
}

.eligibility-criteria ul li {
  margin: 1rem 0;
}

.admission-process-container {
  padding: 0.5rem;
}

.admission-process-container h2 {
  position: relative;
  font-family: var(--font-heading);
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
  width: fit-content;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background-color: red;
    height: 5%;
    width: 75%;
  }
}

.admission-process {
  background-image: radial-gradient(circle at top center, #333 20%, black 100%);
  color: var(--white-font);
  font-family: var(--font-heading);
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
}

.admission-process p {
  margin: 1rem 0;
}

.documents-required-container {
  margin: 0 0.5rem;
}

.documents-required-container h2 {
  position: relative;
  font-family: var(--font-heading);
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
  width: fit-content;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background-color: red;
    height: 5%;
    width: 75%;
  }
}

.documents-required {
  background-image: radial-gradient(circle at top center, #333 20%, black 100%);
  color: var(--white-font);
  font-family: var(--font-heading);
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
}

.documents-required p {
  margin: 1rem 0;
}
