.affiliation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-main);
  margin: 0 0.5rem;
  margin-bottom: 1.75rem;
  border-radius: 2rem;
  color: var(--black-font);
}

.affiliation-container h2 {
  position: relative;
  font-family: var(--font-heading);
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0;
  margin-bottom: 1rem;
  width: fit-content;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background-color: red;
    height: 5%;
    width: 75%;
  }
}

.affiliation-grid-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.25rem;
  margin-top: 0.5rem;
}

.affiliation-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  text-align: center;
  padding: 0 0.5rem;
}

.affiliation-child img {
  height: 55px;
}

.affiliation-content {
  margin: 0.5rem 0;
}

.affiliation-content h3 {
  font-size: 1.1rem;
  font-weight: bolder;
  color: var(--black-font);
  margin: 0.25rem 0;
}

.affiliation-content p {
  font-weight: 500;
  font-size: 0.95rem;
  color: rgb(56, 56, 56);
  margin: 0;
}

.affiliated-programs-container {
  margin: 0 0.5rem;
  font-family: var(--font-heading);
}

.affiliated-programs-container h2 {
  position: relative;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0;
  margin-bottom: 1rem;
  width: fit-content;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background-color: red;
    height: 5%;
    width: 75%;
  }
}

.affiliated-programs-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
}

.affiliated-programs-child {
  background-color: whitesmoke;
  border: 1px solid lightgray;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}

.affiliated-programs-child h3 {
  position: relative;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0;
  margin-bottom: 1rem;
  width: fit-content;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background-color: red;
    height: 5%;
    width: 75%;
  }
}

.affiliated-courses p {
  margin: 0.75rem 0;
  font-weight: 500;
}

@media (min-width: 768px) {
  .affiliated-programs-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .affiliation-grid-content {
    grid-template-columns: repeat(4, 1fr);
  }

  .affiliated-programs-grid {
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
  }
}
