.contact-details-container {
  font-family: var(--font-main);
  padding: 0.5rem 1rem;
  background-color: whitesmoke;
  margin: 0.25rem 0;
  border-radius: 0.5rem;
}

.contact-details-container h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.contact-details-container h4 {
  font-size: 1rem;
  font-weight: 500;
  width: 75%;
  color: rgb(130, 130, 130);
  margin: 0;
}

.contact-details-child {
  margin-top: 2rem;
}

.email,
.contact-no,
.address {
  margin: 1.25rem 0;
  font-size: 1rem;
}

.office-timing h2 {
  font-weight: 600;
}
