.programs h2 {
  position: relative;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--black-font);
  font-family: var(--font-heading);
  margin-bottom: 1rem;
  text-align: center;

  &::before {
    position: absolute;
    content: "";
    height: 5%;
    width: 75%;
    left: 0;
    bottom: 0;
    background-color: red;
  }
}

.programs-offered-container {
  color: var(--white-font);
  margin: 0 0.5rem;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  grid-auto-rows: 1fr;
  gap: 0.25rem;
}

.programs-offered-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: 2rem 1.5rem 1.25rem 1.5rem;
  font-family: var(--font-heading);
  border-radius: 0.75rem;
  background-image: radial-gradient(circle at top center, #333 20%, black 100%);
  border: 1px solid lightgray;
  overflow: hidden;
}

.programs-offered-child h4 {
  font-size: 1.25rem;
  font-weight: 900;
  text-align: start;
  margin: 0;
}

.duration {
  border-bottom: 1px solid gray;
  padding-bottom: 0.5rem;
}

.duration p {
  font-size: 0.9rem;
  margin: 0.25rem 0;
}

.courses {
  margin: 1.5rem 0;
}

.courses p {
  font-size: 0.95rem;
  margin: 0.75rem 0.25rem;
  font-weight: 500;
}

.with-check {
  margin: 0 0.75rem 0 0;
}

.career-paths-container h3 {
  font-weight: 600;
  font-size: 1.25rem;
  font-family: var(--font-main);
  border-bottom: 1px solid gray;
  padding-bottom: 0.25rem;
}

.career-paths-container p {
  font-size: 0.95rem;
  margin: 0.75rem 0.25rem;
  font-weight: 500;
}

.enroll {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 2rem 0 0rem 0;
}

.enroll button {
  color: var(--black-font);
  background-color: whitesmoke;
  width: 100%;
  padding: 0.5rem 0;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 12px white;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    inset: -0.25rem;
    border: 2px solid gray;
    border-radius: 0.75rem;
  }
}

.faculty-container {
  font-family: var(--font-heading);
}

.faculty-container h2 {
  position: relative;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--black-font);
  font-family: var(--font-heading);
  margin-bottom: 1rem;
  text-align: center;

  &::before {
    position: absolute;
    content: "";
    height: 5%;
    width: 75%;
    left: 0;
    bottom: 0;
    background-color: red;
  }
}

.faculty-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.25rem;
  text-align: start;
  margin: 0 0.5rem;
}

.faculty-grid-child {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  border: 1px solid lightgray;
  color: var(--black-font);
  font-family: var(--font-heading);
  padding: 0.5rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.faculty-grid-child h3 {
  position: relative;
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.faculty-grid-child p {
  font-size: 1rem;
  margin: 0.25rem 0;
  padding: 0.75rem;
  font-weight: 500;
  border-radius: 0.5rem;
  border: 1px solid lightgray;
  font-family: var(--font-main);
}

@media (min-width: 768px) {
  .program-content {
    width: 80%;
  }

  .program-content h1 {
    font-size: 2rem;
  }

  .program-content p {
    font-size: 1rem;
  }

  .programs h2 {
    font-size: 1.5rem;
  }

  .faculty-container h2 {
    font-size: 1.5rem;
  }

  .programs-offered-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .enroll button {
    font-weight: 500;
  }

  .faculty-grid {
    display: grid;
    grid-template-columns: repeat(3, 28%);
    justify-content: center;
    gap: 0.5rem;
    margin: 0 0.5rem;
    text-align: center;
  }
}

@media (min-width: 1024px) {
  .program-content {
    width: 60%;
  }

  .program-content h1 {
    font-size: 2.25rem;
  }

  .program-content p {
    font-size: 1rem;
  }

  .programs h2 {
    font-size: 1.5rem;
  }

  .faculty-container h2 {
    font-size: 1.5rem;
  }

  .programs-offered-container {
    grid-template-columns: repeat(4, 1fr);
  }

  .enroll button {
    font-weight: 500;
  }
}
