@import "tailwindcss";

:root {
  --font-main: "Satoshi", Arial, sans-serif;
  --font-heading: "General sans", Arial, sans-serif;
  --black-font: black;
  --white-font: white;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  overflow-x: hidden;
}

.fade-up {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.6s ease-out;
}

.fade-up.show {
  opacity: 1;
  transform: translateY(0);
}

.no-shift {
  transform: none !important;
}
